
.leftbox {
	float: left;
	width:100px;
	padding-top:50px;
	padding-left:25px;	
}
.rightbox {
	float: left;
	width:800px;
	padding-top:50px;
}


.selbox {
	padding-top: 25px;
}

.sel_heading {
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-size-adjust: none;	
	font-weight: bold;	
}

.colormapname {
	display:table;
    list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-size-adjust: none;	
	font-weight: normal;	
	padding-left:5px;
}

.sidelist {
	display:table;
    list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-size-adjust: none;	
	font-weight: normal;	
	padding-left:5px;
}

.hover_selectie {
 background-color: LightBlue;
}
.active_selectie {
 background-color: SteelBlue;
}



.heatmap_canvas,
.heatmap_svg {
    position: absolute;
    pointer-events:all;
  }


.heatmap_canvas{
	padding-top:25px;
	padding-left:75px;
	padding-bottom:50px;
}


.xaxis line,
.xaxis path,
.yaxis line,
.yaxis path
{
	fill:none;
	stroke: black;
	shape-rendering: crispEdges;
}


.grid line {
	fill:none;
	stroke: #ccc;
	shape-rendering: crispEdges;	
}

.gridx  {
stroke-width:0;
fill:none;
}

.pointinfotext text {
	font-family:Corbel;
	font-size: 15px;
	font-weight: bold;
}



.selbox_hidden {
	display:none;
}

.gradient_input {
	width: 32px;
	float: right;
}

#cg_a{
position:absolute;
z-index: 5;
margin-left:550px;
top:-75px;
}

.heatmap_container{
position:absolute;
}


#dotplot_boxsize_val, #dotplot_dotsize_val{
width:20px;
}





.annotation_text{
font-family: Corbel, Arial, Helvetica, sans-serif;
font-size: 13px;
color: #333333;
background-color: rgba(255,255,190,.5);
border-radius:6px;
padding-left:15px;
padding-right:15px;
padding-top:10px;
margin-left:5px;
position: absolute;
display:none;
}


.annotation_connector {
	stroke: #333333;
	stroke-width: 1px;
    stroke-dasharray: 3, 3;
}


.annotation_obj {
	fill-opacity:0;
	fill: rgb(255,255,190);
	stroke: #333333;
	stroke-width: 1px;
    stroke-dasharray: 3, 3;
}

.annotation_selected {
	fill-opacity:0.8;
	fill-opacity:0;
	stroke: #af081f;
	stroke-width: 2px;
    stroke-dasharray: 0;
}

.annotation_hover {
	fill-opacity:0.6;
	fill-opacity: 0.3;
	stroke-width: 2px;
	stroke: #af081f;
    stroke-opacity: 0.6;
}



.annotation_label{
font-family: Corbel, Arial, Helvetica, sans-serif;
font-size: 13px ;
font-weight: normal;
background:#fff;
border-radius:6px;
border-width:2px;
border-color:#000;
position: absolute;
width:200px;
height:20px;
padding-top:4px;
//margin-top:55px;
}

#heatmap_div {
	padding-left:125px;	
	margin-top:25px;
}


#data_div {
	padding-left:150px;	
	margin-top:25px;	
}
#data_container {

	position: absolute;	
}

th {

font-weight: bold;
}


.form-control2 {
    width:100px;
}

.deleteicon{
position:relative;
padding-left:10px;
top:-12px;
color:#A94444;
}

.addicon{
position:relative;
top:-12px;
padding-left:5px;
color:#407640;
}

.yrange{
	width:100px;
	//margin-left:25px;	
}
/* histogram */

.xrange{
 	width:100px; 	
 	background-color:gray;
 	
}








#histogram_container {
 float:left;
 padding-left:50px;
 padding-top:50px;
 display:inline;
}

#heatmap_controls {
	padding-top: 25px;
	padding-left: 25px;
	float:left;
	width:150px;
	display:inline;
}


#control_ul {
	list-style: none; 
	margin: 0; 
	padding: 0;
}

#heatmap_header li {
 	display: inline;
 }


#heatmap_header li a
{
text-decoration: none;
padding: .2em 1em;
color: #fff;
background-color: #036;
}

#heatmap_header ul li a:hover
{
color: #fff;
background-color: #369;
}


#histogramdiv {
display:inline-block;
}

.histselectie {	width:50px;
}



#selectieform { 
 	background-color:#fff;
    border-radius:8px;
    color:#000;
    display:none; 
    padding:20px;
    min-width:400px;
    max-width:800px;
    min-height: 180px;    
 }


 #overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
     background-color: #333;
     background: rgba(55,55,55,0.2);
}

#overlay div {
     width:500px;
     margin: 100px auto;
     background-color: #fff;
     border-radius:8px;
     padding:15px;
     text-align:center;
     
}

#close_selection {
	float:right;
	background-color: #333;
	color: #fff;
	border-radius:3px;
	padding:5px;
}


#selectie_header {

	float:left;
}

.selrow { 
text-align:left;
}

#cancel_selection {
	float:right;
	border-radius:3px;
	background-color: #333;
	padding:5px;
	color: #fff;
}


#save_selection {
	float:left;
	 border-radius:3px;
	background-color: #333;
	padding:5px;
	color: #fff;
}