/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.leftbox {
	float: left;
	width:125px;
	padding-top:50px;
	padding-left:25px;	
}
.rightbox {
	float: left;
	width:800px;
	padding-top:50px;
}


.selbox {
	padding-top: 25px;
}

.sel_heading {
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-size-adjust: none;	
	font-weight: bold;	
}

.colormapname {
	display:table;
    list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-size-adjust: none;	
	font-weight: normal;	
	padding-left:5px;
}

.sidelist {
	display:table;
    list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-size-adjust: none;	
	font-weight: normal;	
	padding-left:5px;
}

.hover_selectie {
 background-color: LightBlue;
}
.active_selectie {
 background-color: SteelBlue;
}



.heatmap_canvas,
.heatmap_svg {
    position: absolute;
    pointer-events:all;
  }


.heatmap_canvas{
	padding-top:25px;
	padding-left:75px;
	padding-bottom:50px;
}


.xaxis line,
.xaxis path,
.yaxis line,
.yaxis path
{
	fill:none;
	stroke: black;
	shape-rendering: crispEdges;
}


.grid line {
	fill:none;
	stroke: #ccc;
	shape-rendering: crispEdges;	
}

.gridx  {
stroke-width:0;
fill:none;
}

.pointinfotext text {
	font-family:Corbel;
	font-size: 15px;
	font-weight: bold;
}



.selbox_hidden {
	display:none;
}

#printcode{
font-family: "Lucida Console", Monaco, monospace;
}

.gradient_input {
	width: 32px;
	float: right;
}

#cg_a{
position:absolute;
z-index: 5;
margin-left:550px;
top:25px;
}

.heatmap_container{
position:absolute;
}


#dotplot_boxsize_val, #dotplot_dotsize_val{
width:20px;
}

.annotation{
font-family: Arial, Helvetica, sans-serif;
font-size:15px ;
background:red;
}

#heatmap_div {
	padding-left:125px;	
	margin-top:25px;
}


#data_div {
	padding-left:150px;	
	margin-top:25px;	
}
#data_container {

	position: absolute;	
}

th {

font-weight: bold;
}


.form-control2 {
    width:100px;
}

.deleteicon{
position:relative;
padding-left:10px;
top:-12px;
color:#A94444;
}

.addicon{
position:relative;
top:-12px;
padding-left:5px;
color:#407640;
}

.yrange{
	width:100px;
	//margin-left:25px;	
}
/* histogram */

.xrange{
 	width:100px; 	
 	background-color:gray;
 	
}

#minxdiv{
	float:left;
	margin-left:100px;
}
#maxxdiv{
	float:right;
}

#minydiv{
	float:left;
	margin-top:350px;
	background-color:gray;	
}
#maxydiv{
	float:left;
	margin-top:0px;
	background-color:gray;
}


#form_x_var  {
 padding-left:50px;
 width:200px;
}

#form_y_var  {
 padding-left:50px;
 width:200px;
}

.spacer {
	padding-left:50px;

}

.xyinput{
	padding-top:10px;
	width:150px;
}

.xylabel {
	//vertical-align:middle;
}

.parameter {
	margin-top:25px;

}

#spacer1{
height:20px;
}